*{
	padding: 0px;
	margin: 0px;
}

#first-div {
	/*background: url(images/colour.jpg) no-repeat;*/
	border: solid 2px black;

}

#section-container{
	/*background: url(images/golf.jpg) no-repeat ;*/
	border: solid 2px black;
}

#last-div{
	/*background: url(images/cloud.jpg) no-repeat ;*/
	border: solid 2px black;

}