*{
 padding: 0;
 margin: 0;
 color: white;
}

#first-div {
background: url(images/cloud.jpg) no-repeat ;
}

#second-div{
    background: url(images/colour.jpg) no-repeat ;
    width: 100%;
}

#last-div{
    background: url(images/golf.jpg) no-repeat ;
}

#testo{
    left:100px;
    border: dashed 2px black;
    width : 20%;
    position: fixed;
}
.sezione{
    min-height: 800px;
}

#scroll-pos{
    background-color: black;
    color:white;
    font-size: 26px;
    position: fixed;
    top : 0;
    left:50%;
    opacity: 0.6;
    z-index: 9999;
}

