/* INIZIO CSS CUSTOM */

*{
	font-family: 'Roboto', sans-serif !important;	
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.allPages{
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background: transparent center no-repeat;
	background-size: cover;
}

h1{
	font-size: 70px;
	font-weight: 700;	
}

h2{
	font-size: 24px;
	font-weight: 100;	
}

h3{
	font-size: 14px;/*ERA 15, l'ho rimpicciolito per far entrare tutto il menu nella safe area*/
	font-weight: 700;	
}

h4{
	font-size: 15px; /*ERA 18, l'ho rimpicciolito per far entrare tutto il menu nella safe area*/
	font-weight: 100;	
}

h5{
	font-size: 10px;/*ERA 12, l'ho rimpicciolito per far entrare tutto il menu nella safe area*/
	font-weight: 100;	
}

a{
	text-decoration: none !important;	
}

.ombreggiaturaTesto{
	text-shadow:6px 6px rgba(0,0,0,0.4);
}

#scroll-pos{
	background-color: black;
	color:white;
	font-size: 26px;
	position: fixed;
	top : 0;
	left:50%;
	opacity: 0.6;
	z-index: 9999;
}

#nav{
	list-style: none;
	position: fixed;
	background-color: rgb(235,233,233);
	top: 0px;
	right: 0px;
	z-index: 1000;
}

#nav li{
	padding: 1px 30px 1px 30px;	
	color: rgb(76,76,76);
}

.noPadding{
	padding: 0 0 0 0;
}

#casesAnalysis{
	padding-left:30px;	
	color: rgb(76,76,76);
}

#nav li:hover{
	background-color: rgb(76,76,76);
	color: white;
	text-decoration: none;
}


.sottosezioneMenu{
	background-color: rgb(207,207,205);
}


#one {
}

#video_background {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
	z-index: 0; /*ERA -1 Ma il fuckin chrome scapocciava*/
}

#video_pattern {
	position: absolute;
	background-image: url(../images/pattern.png);
	opacity: 0.6;
	width: 100%;
	height: 100%;
	left: 0px;
	z-index: 1;
}

#two {
	background-image: url(../images/cloud.jpg);
	color: #FFF;
	z-index: 1;
}

#three{
	-moz-box-shadow: inset 0 0 5px 2px #000;
	-webkit-box-shadow: inset 0 0 5px 2px #000;
	box-shadow: inset 0 0 5px 2px #000;
	background-image: url(../images/golf.jpg);
	color: #FFF;
}

#four{
	-moz-box-shadow: inset 0 0 5px 2px #000;
	-webkit-box-shadow: inset 0 0 5px 2px #000;
	box-shadow: inset 0 0 5px 2px #000;
	background-image: url(../images/containers.jpg);
	color: #FFF;
	overflow: hidden;
}

.container{
	position:absolute;
	left:0;
	height:100%;	 	
}

.content{
	margin: 0 auto;
	min-width: 980px;
	width: 980px;
}

.content .left, .content .right{
	padding: 0px 0 0 0;
	position: relative;
	width: 350px;	
}


.right{
	float: right;
	margin: 0 20px 0 0;
}

.title_with_grid{
	position:absolute; 
	top:0;
	left:0;
	color:white;
	margin-top: 100px;
	margin-left: 80px;
	z-index: 1000;
}